
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-30 {
    font-size: 30px;
}

.fs-32 {
    font-size: 32px;
}
.fs-34 {
    font-size: 34px;
}
.fs-36 {
    font-size: 36px;
}
.fs-40 {
    font-size: 40px;
}
.fs-44 {
    font-size: 44px;
}
.fs-48 {
    font-size: 48px;
}

.fs-100 {
    font-size: 100px;
}
.lh-36{
    line-height: 36px;
}

.fw-bold {
    font-weight: bold;
}

.fw-900 {
    font-weight: 900;
}

.pt-20 {
    padding-top: 20px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-200 {
    padding-top: 200px;
}

.pt-300 {
    padding-top: 300px;
}
.pxy-2060{
    padding: 2% 12%;
}
.pxy-20 {
    padding: 20px;
}
.pxy-100 {
    padding: 100px;
}
.pxy-120 {
    padding: 120px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-100 {
    padding-bottom: 100px;
}
.pb-140 {
    padding-bottom: 140px;
}
.mt-16 {
    margin: 16px;
}
.mx-20{
    margin: 20px 0;
}
.mx-40{
    margin: 40px 0;
}
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.bg-ffb697 {
    background-color: #ffb697;
}
.bg-add4dd{
    background-color: #add4dd;
}
.bg-f5f5f5{
    background-color: #f5f5f5;
}
.bg-adddff{
    background-color: #adddff;
}
.bg-a2b3ff{
    background-color: #a2b3ff;
}
.bg-ffdfcf{
    background-color: #ffdfcf;
}

.fsc-fff{
    color: #ffffff;
}


