    .tag {
      padding: 4px 12px;
      border-radius: 40px;
      /* background-color: #ffffff; */
      color: #ffffff;
      font-size: 12px;
      border: 1px solid #ddd;
    }

    h1 {
      color: #3b3b3b;
    }

    h4,
    h5 {
      color: #333333;
    }

    .card {
      border: none;
      margin: 40px 0;
      border-radius: 10px;
    }

    .card img {
      border-radius: 10px;
    }


    a {
      color: #333;
      text-decoration: none;
    }

    a:hover {
      color: #333;
      text-decoration: none;
    }
    .font22 {
      font-size: 22px;
    }

    .line {
      border-bottom: 3px solid #ffffff;
    }

    .pic {
      overflow: hidden;
    }

    .pic img {
      transform: scale(1, 1);
      transition: all 0.5s ease-out;
    }

    .pic img:hover {
      transform: scale(1.2, 1.2);
    }

    .footer {
      background-color: #333;
      height: 140px;
    }

    .btn-circle {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: 1px solid;
      font-size: 18px;
      text-align: center;
      background-color: #212529;
      color:#fff;
    }

    .btn-circle:hover {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: 1px solid #212529;
      font-size: 18px;
      text-align: center;
      background-color: rgb(255, 173, 49);
      color: #212529;
    }
    .close {
      position: relative;
      width: 40px;
      height: 40px;
      background-color:rgb(122, 122, 122);
      border-radius: 50%;
    }
    .close:hover {
      opacity: 1;
    }
    .close:before, .close:after {
      position: absolute;
      top:8px;
      left: 19px;
      content: ' ';
      height: 24px;
      width: 2px;
      background-color: #ffffff;
    }
    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }
    .top-document {
      padding-top: 4rem;
      padding-bottom: 6rem;
      background-image: linear-gradient(0deg, transparent calc(100% - .1rem), #edf6ff calc(100% - .1rem)), linear-gradient(90deg, transparent calc(100% - .1rem), #edf6ff calc(100% - .1rem));
      background-repeat: repeat;
      background-size: 1.6rem 1.6rem;
      /* border-top: 1px solid #447fe0;
  border-bottom: 1px solid #447fe0 */
    }
    .pt-100 {
      padding-top: 100px;
    }
    .pt-150 {
      padding-top: 150px;
    }
    .navbar-text{
      text-shadow: 0.1em 0.1em 0.5em #333;
    }

    @media (min-width: 1400px) {
      .h100 {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }

    }

    @media (max-width: 1200px) {
      .font22 {
        font-size: 20px;
      }

      .card {
        border: none;
        margin: 20px 0;
        border-radius: 10px;
      }
    }

    @media (max-width: 567px) {
      .font22 {
        font-size: 18px;
      }

      .text-center-md {
        text-align: center;
      }



    }