@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    font-family: 'Noto Sans TC', '微軟正黑體';
    margin: 0;
    padding: 0;
    list-style: none;  
}


html,
body {
    height: 100%;
    margin: 0;
}

#gotop {
    position: fixed;
    display:none;
    bottom: 40px;
    right: 10px;
    z-index: 5;
    border-radius: 50px;
    padding: 20px;
    background-color: #ff7d21;
    color: #ffffff;
    transition:all 0.5s;    
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}


.article {
    height: 200px;
    font-size: 20px;
    line-height: 36px;
    padding-top: 60px;
    color: #271b1d;
}

.area-text {
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    margin-bottom: 80px;
    background: linear-gradient(to top, #3a1c71, #d76d77, #ffaf7b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.gradient {
    background: linear-gradient(to right, rgb(187, 83, 185), rgb(0, 166, 163));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.number {
    width: 80px;
}

.area {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 100%;
    height: 100%;
    margin: 2%;
}

.area-card {
    position: relative;
    height: 100%;
    margin: 2%;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .8;
    border-radius: 2%;
    background: linear-gradient(to top, #3a1c71, #d76d77, #ffaf7b);
}

.cover:hover {
    height: 0;
    bottom: 0;
    transition: all .3s ease-in-out;
}

.pic01 img,
.pic02 img,
.pic03 img,
.pic04 img,
.pic05 img,
.pic06 img {
    display: flex;
    border-radius: 2%;
}

.pic01 img:hover,
.pic02 img:hover,
.pic03 img:hover,
.pic04 img:hover,
.pic05 img:hover,
.pic06 img:hover {
    position: relative;
    width: 100%;
    height: 100%;
}

footer {
    position: relative;
    text-align: center;
}

.footertext {
    font-size: 140px;
    font-weight: 900;
    line-height: 120px;
    margin-top: 100px;
}

.thankyou {
    background: linear-gradient(to right, rgb(187, 83, 185), rgb(0, 166, 163));
    height: 100px;

}


.page01kv {
    width: 100%;
    background-image: url(../img/dividend-kv.jpg);
    background-size: cover;
    background-position: center;
}
.page02kv {
    width: 100%;
    background-image: url(../img/proposal-kv.jpg);
    background-size: cover;
    background-position: center;
}
.page03kv {
    width: 100%;
    background-image: url(../img/gym-kv.jpg);
    background-size: cover;
    background-position: center;
}
.page04kv {
    width: 100%;
    background-image: url(../img/deer-kv.jpg);
    background-size: cover;
    background-position: center;
}
.page05kv {
    width: 100%;
    background-image: url(../img/travel-kv.jpg);
    background-size: cover;
    background-position: center;
}


.link {
    width: 100px;
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 4px;
    margin: 0 auto;
    margin-top: 16px;
    font-weight: 400;
}

.link:hover {
    background-color: #ff7d21;
    border: 1px solid #ff7d21;
    color:#ffffff;
}
.nolink{
    width: 100px;
    font-size: 18px;
    border: 1px solid #c9c9c9;
    border-radius: 50px;
    padding: 4px;
    margin: 0 auto;
    margin-top: 16px;
    font-weight: 400;
    color: #ffffff;
    background-color: #c9c9c9;
}
.hometop {
    position: fixed;
    border-radius: 200px;
    background-color: #333333;
    width: 140px;
    height: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    opacity: .8;
}

span {
    position: fixed;
    left: 50%;
    top: 30px;
    transform: translate(-50%, -50%);
    z-index: 6;
    color: #ffffff;
    /* text-shadow:0px 0px 10px gray; */
}

.chapter {
    width: 70%;
    margin: 0 auto;
}

.chapter-text {
    color: #333333;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.box {
    position: relative;
    margin: 0 auto;
    height: 100px;
}

.line-text {
    position: relative;
    font-size: 160px;
    font-weight: 900;
    top: -130px;
    text-align: center;
    z-index: -2;
    color: #0e5e95;
}

.line-text-design {
    position: relative;
    font-size: 160px;
    font-weight: 900;
    top: -362px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 2px #0e5e95;
}
.linetext-web {
    position: relative;
    font-size: 150px;
    font-weight: 900;
    top: -124px;
    text-align: center;
    z-index: -2;
    color: #006B98;
}

.linetext-webdesign {
    position: relative;
    font-size: 150px;
    font-weight: 900;
    top: -340px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
}
.view {
    width: 70%;
    margin: 0 auto;
}

.list {
    margin: 0 auto;
    width: 50%;
    height: 140px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.list-right::before{
    content: '';  
    position: absolute;
    width: 0;
    height: 0;
    top: 33px;
    left: -40px;
    border-left: 10px solid transparent;
    border-right: 16px solid rgb(36, 36, 36);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent; 
}
.list-left::after{
    content: '';  
    position: absolute;
    width: 0;
    height: 0;
    right: -40px;
    bottom: 102px;
    border-left: 16px solid rgb(36, 36, 36);
    border-right: 10px solid transparent;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent; 
}
.mail {
    position: relative;
    top: 41px;
    border: 1px solid #ffffff;
    padding: 4px 20px;
    border-radius: 50px;
    color: #ffffff;

}

.pagebox {
    /* width: 80%; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 0;
}

.pagebox-change {
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse !important;
}

.pagepic {
    width: 70%;

}
.pagepic img{
    border-radius: 20px;
}

.pagetext { 
    width: 50%;  
    margin:5%;
    text-align: center;
}
.pagetext img{
    width: 120px;
}
.word{
    font-size: 30px;
    border: 2px solid #333333;
    padding: 10px;
    border-radius: 50px;
    margin: 15px ;
    text-align: center;
}

@media (max-width:1440px) {
    .fs-44{
        font-size: 34px;
    }
    .pagetext {
        margin: 4% ;

    }
    .word{
        font-size: 26px;
        margin: 5px;
    }
    .pagetext img {
        width: 80px;
    }
    .cover {
        opacity: 0;
    }
    .footertext {
        font-size: 80px;
        line-height: 66px;

    }
    .pxy-120{
        padding: 100px ;
    }
}
@media (max-width:1299px) {
    .chapter-text {
        font-size: 20px;
        line-height: 24px;
    }
    .pxy-2060 {
        padding: 2% 10%;
    }
    .line-text {
        font-size: 100px;
        top: -83px;
    }
    .line-text-design {
        font-size: 100px;
        top: -229px;
        -webkit-text-stroke: 1px #ffffff;
    }
    .pagebox{
        width: 100%;
        padding: 0;
    }
    .word{
        font-size: 22px;
        margin: 10px 0;

    }
    .pagetext {
        margin: 5%;

    }
    .fs-44 {
        font-size: 26px;
    }
    .pagetext img {
        width: 80px;
    }
    

}


/* desktops */
@media (max-width: 992px) {
    .pagebox{
        display: block;
        width: 80%;
    }
    .pagepic {
        width: 100%;
        padding: 0;

    }
    .pagepic img{
        margin: 2% 0;
    }
    .pagetext {
        width: 100%;
        margin: 0;
    }
    
    .line-text {
        font-size: 120px;
        top: -96px;
    }

    .line-text-design {
        font-size: 120px;
        top: -270px;
        -webkit-text-stroke: 1px #ffffff;
    }
    .linetext-web {
        font-size: 100px;
        top: -88px;
    }
    
    .linetext-webdesign {
        font-size: 100px;
        top: -233px;

    }
    .page01kv {
        width: 100%;
        background-image: url(../img/dividend-kv-t.jpg);
        background-size: cover;
        background-position: center;
    }
    .page02kv {
        width: 100%;
        background-image: url(../img/proposal-kv-t.jpg);
        background-size: cover;
        background-position: center;
    }
    .page03kv {
        width: 100%;
        background-image: url(../img/gym-kv-t.jpg);
        background-size: cover;
        background-position: center;
    }
    .page04kv {
        width: 100%;
        background-image: url(../img/deer-kv-t.jpg);
        background-size: cover;
        background-position: center;
    }
    .page05kv {
        width: 100%;
        background-image: url(../img/travel-kv-t.jpg);
        background-size: cover;
        background-position: center;
    }


}

/* tablets */
@media (max-width: 768px) {
    .gotop{
        display: none;
    }
    .chapter-text {
        font-size: 48px;
        line-height: 60px;
        padding-bottom: 16px;
    }
    .area {
        display: block;
    }

    .area-text {
        font-size: 80px;
        line-height: normal;
    }

    .number {
        width: 130px;
    }
    .chapter {
        width: 80%;
    }
    .item {
        margin: 0%;
        padding: 4% 0;
    }
    .view {
        width: 80%;
        margin: 0 auto;
    }


    .pic01 img,
    .pic02 img,
    .pic03 img,
    .pic04 img,
    .pic05 img,
    .pic06 img {
        border-radius: 8%;
    }

    .box {
        position: relative;
        margin: 0 auto;
        top: 100px;
        height: 60px;
    }

    .line-text {
        font-size: 80px;
        top: -154px;
    }

    .line-text-design {
        font-size: 80px;
        top: -270px;
        -webkit-text-stroke: 1px #ffffff;
    }
    .linetext-web {
        font-size: 100px;
        top: -185px;
    }
    
    .linetext-webdesign {
        font-size: 100px;
        top: -330px;
        -webkit-text-stroke: 1px #ffffff;
    }
    .page {
        width: 100%;
        height: 150px;
        padding-bottom: 40px;
        margin-bottom: 20px;
    }

    .pagebox {
        display: block;
        width: 100%;
        padding: 15px 0;
    }
    .pagetext img {
        width: 60px;
    }
    .pxy-120 {
        padding: 100px 0;
    }

    .pb-140 {
        padding-bottom: 80px;
    }


    .fs-140 {
        font-size: 90px;
        padding-top: 0;
    }

    .pb-50 {
        padding-bottom: 0;
        padding-top: 100px;
    }

    .pt-100 {
        padding-top: 100px;
    }

    .footertext {
        font-size: 120px;
        line-height: 100px;
        margin-top: 60px;
    }

    .list {
        width: 50%;
        font-size: 20px;
        height: 80px;
    }

    .pxy-2060 {
        padding: 0;
    }


}

/* phones */
@media (max-width: 576px) {
    .chapter-text {
        font-size: 26px;
        line-height: 30px;
        padding-bottom: 10px;
    }

    .area-text {
        font-size: 48px;
        margin-bottom: 20px;
    }

    .line-text {
        font-size: 60px;
        top: -149px;
    }

    .line-text-design {
        font-size: 60px;
        top: -236px;
    }
    .linetext-web {
        font-size: 46px;
        top: -140px;
    }
    
    .linetext-webdesign {
        font-size: 46px;
        top: -206px;

    }
    .number {
        width: 80px;
    }
    .fs-32 {
        font-size: 22px;
    }
    .fs-40{
        font-size: 34px;
    }
    .fs-24 {
        font-size: 18px;
    }
    .word{
        font-size: 18px;
        margin: 10px;
    }

    .pb-140 {
        padding-bottom: 40px;
    }


    .footertext {
        font-size: 48px;
        line-height: 40px;
        margin-top: 60px;
    }

    .thankyou {
        top: -14px;
        height: 150px;
    }

    .pb-50 {
        padding-bottom: 20px;
        padding-top: 80px;
    }

    .pt-100 {
        padding-top: 40px;
    }

    .page02kv {
        width: 100%;
        background-image: url(../img/proposal-kv-m.jpg);
        background-size: cover;
        background-position: center;
    }
    .page03kv {
        width: 100%;
        background-image: url(../img/gym-kv-m.jpg);
        background-size: cover;
        background-position: center;
    }
    .page04kv {
        width: 100%;
        background-image: url(../img/deer-kv-m.jpg);
        background-size: cover;
        background-position: center;
    }
    .page05kv {
        width: 100%;
        background-image: url(../img/travel-kv-m.jpg);
        background-size: cover;
        background-position: center;
    }


}